<mat-toolbar color="primary" id="header">
  <div id="menu-descktop">
    <button *ngIf="objHeader.options.length" mat-raised-button color="accent" matTooltip="Menu" (click)="displayMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/modules']" mat-raised-button color="accent" matTooltip="Modulo">
      <mat-icon>view_module</mat-icon>
    </a>
  </div>
  <div id="menu-tablet">
    <button *ngIf="objHeader.options.length" mat-fab color="accent" (click)="displayMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/modules']" mat-fab color="accent" matTooltip="Modulo">
      <mat-icon>view_module</mat-icon>
    </a>
  </div>
  <div id="menu-movile">
    <button *ngIf="objHeader.options.length" mat-icon-button color="accent" (click)="displayMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/modules']" mat-icon-button color="accent" matTooltip="Modulo">
      <mat-icon>view_module</mat-icon>
    </a>
  </div>
  <div id="name">page name</div>
  <div id="button-descktop">
    <button mat-raised-button color="accent" matTooltip="Andres">
      <mat-icon>face</mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="setPlace()" matTooltip="Casa">
      <mat-icon>store</mat-icon>
    </button>
  </div>
  <div id="button-tablet">
    <button mat-fab color="accent">
      <mat-icon>face</mat-icon>
    </button>
    <button mat-fab color="accent" (click)="setPlace()">
      <mat-icon>store</mat-icon>
    </button>
  </div>
  <div id="button-movile">
    <button mat-icon-button color="accent">
      <mat-icon>face</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="setPlace()">
      <mat-icon>store</mat-icon>
    </button>
  </div>
</mat-toolbar>