<mat-toolbar color="primary" id="header">
  <div id="menu-descktop">
    <button *ngIf="menu.options.length" mat-raised-button color="accent" matTooltip="Menu" (click)="displayMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <button (click)="goModules()" mat-raised-button color="accent" matTooltip="Modulo">
      <mat-icon>view_module</mat-icon>
    </button>
  </div>
  <div id="menu-tablet">
    <button *ngIf="menu.options.length" mat-fab color="accent" (click)="displayMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <button (click)="goModules()" mat-fab color="accent" matTooltip="Modulo">
      <mat-icon>view_module</mat-icon>
    </button>
  </div>
  <div id="menu-movile">
    <button *ngIf="menu.options.length" mat-icon-button color="accent" (click)="displayMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <button (click)="goModules()" mat-icon-button color="accent" matTooltip="Modulo">
      <mat-icon>view_module</mat-icon>
    </button>
  </div>
  <div id="name">page name</div>
  <div id="button-descktop">
    <button mat-raised-button color="accent" matTooltip="Andres">
      <mat-icon>face</mat-icon>
    </button>
    <button [ngClass]="(place) ? '' : 'animated infinite swing'" [matTooltip]="place.name" mat-raised-button color="accent" (click)="setPlace()">
      <mat-icon>store</mat-icon>
    </button>
  </div>
  <div id="button-tablet">
    <button mat-fab color="accent">
      <mat-icon>face</mat-icon>
    </button>
    <button mat-fab color="accent" [ngClass]="(place) ? '' : 'animated infinite swing'" (click)="setPlace()">
      <mat-icon>store</mat-icon>
    </button>
  </div>
  <div id="button-movile">
    <button mat-icon-button color="accent">
      <mat-icon>face</mat-icon>
    </button>
    <button mat-icon-button color="accent" [ngClass]="(place) ? '' : 'animated infinite swing'" (click)="setPlace()">
      <mat-icon>store</mat-icon>
    </button>
  </div>
</mat-toolbar>