<mat-card id="card">
  <mat-card-header>
    <div>
      <mat-icon id="card-header-icon" inline="true" color="primary">face</mat-icon>
    </div>
    <div>
      <mat-card-title>Hola!!</mat-card-title>
      <mat-card-subtitle>Que bueno verte de nuevo.</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form #lf="ngForm" id="form-card">
      <mat-form-field>
        <input [(ngModel)]="user.email" name="email" type="text" matInput placeholder="Correo" required>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Contraseña" required>
      </mat-form-field>
      <mat-checkbox class="example-margin" name="remember" [(ngModel)]="user.remember">Recuerdame</mat-checkbox>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button class="button-descktop-save" mat-raised-button color="primary" (click)="login(lf)" matTooltip="Ingresar">
      <mat-icon>assignment_ind</mat-icon>
    </button>
    <button class="button-tablet-save" mat-fab color="primary" (click)="login(lf)" matTooltip="Ingresar">
      <mat-icon>assignment_ind</mat-icon>
    </button>
    <button class="button-movile-save" mat-icon-button color="primary" (click)="login(lf)" matTooltip="Ingresar">
      <mat-icon>assignment_ind</mat-icon>
      Ingresar
    </button>
  </mat-card-actions>
</mat-card>