<mat-card id="card">
    <mat-card-header>
        <div>
            <mat-icon id="card-header-icon" inline="true" color="primary">store</mat-icon>
        </div>
        <div>
            <mat-card-title>Lugar</mat-card-title>
            <mat-card-subtitle>name place to edit</mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-card-content>
        <form #pf="ngForm" id=form-card>
            <mat-form-field>
                <input [(ngModel)]="place.name" name="name" type="text" matInput placeholder="Nombre" required>
            </mat-form-field>
            <mat-slide-toggle *ngIf="isEdit" [(ngModel)]="place.state" name="state" color="primary">{{place.state ?'Activo': 'Inactivo'}}</mat-slide-toggle>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="savePlace(pf)" mat-raised-button color="primary" matTooltip="Guardar">
            <mat-icon>save</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>