// Descktop
@media only screen and (min-width: 1024px) {
  .button-descktop-save {
      display: block;
  }
  .button-tablet-save {
      display: none;
  }
  .button-movile-save {
      display: none;
  }
  .master-descktop {
    display: block;
  }
  .master-tablet {
    display: none;
  }
  .master-movile {
    display: none;
  }
  .scroll {
    height:300px; overflow:auto;
  }
}

//Tablet
@media only screen and (max-width: 1023px) {
  .button-descktop-save {
      display: none;
  }
  .button-tablet-save {
      display: block;
  }
  .button-movile-save {
      display: none;
  }
  .master-descktop {
    display: none;
  }
  .master-tablet {
    display: block;
  }
  .master-movile {
    display: none;
  }
  .scroll {
    height:600px; overflow:auto;
  }
}

//Movile
@media only screen and (max-width: 600px) {
  .button-descktop-save {
      display: none;
  }
  .button-tablet-save {
      display: none;
  }
  .button-movile-save {
      display: block;
  }
  .master-descktop {
    display: none;
  }
  .master-tablet {
    display: none;
  }
  .master-movile {
    display: block;
  }
  .scroll {
    height:200px; overflow:auto;
  }
}

//Descktop and Tablet
@media only screen and (min-width: 1023px) {
    .master-descktop-tablet {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .master-descktop-tablet {
        display: none;
    }
}