/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#card {
    width: 300px;
}

#card-header-icon {
    font-size: 3rem;
}

#form-card {
    display: flex;
    flex-direction: column;
}

#table-card {
    width: 100%;
}

.row-table {
    cursor: pointer;
}

.row-table:hover {
    background-color:#6c9db8;
  }

.error-snackBar{
    background-color: #c0392b;
}

.error-snackBar .mat-button-wrapper{
    color: white !important;
}

.success-snackBar{
    background-color: #16a085;
}

.success-snackBar .mat-button-wrapper{
    color: white !important;
}

.warning-snackBar{
    background-color: #f39c12;
}

.warning-snackBar .mat-button-wrapper{
    color: white !important;
}

.set-default {
    background-color: #e84118;
}




